@require 'nib'
@require 'jeet'

global-reset()

html, body
  width: 100%
  height: 100%

body
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  font-size: 14px/1.5

  color: #333
  background-color: #fff

  -webkit-text-size-adjust: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  font-feature-settings: 'liga', 'kern'

.navbar
  padding-top: 15px
  padding-bottom: 15px
  float: left
  width: 100%
  //border-bottom: 1px solid rgba(255,255,255,.1)

  a
    color: inherit
    text-decoration: none
    -webkit-tap-highlight-color: transparent
    transition: opacity .2s linear

    &:focus, &:active
      opacity: .5

  .navbar-title
    position: static
    float: left
    transform: translateX(50%)
    left: 50%
    margin-bottom: 0
    font-size: 22px
    font-weight: 300
    line-height: 1

.main-header
  height: 100%
  width: 100%
  min-height: 750px
  color: #fff
  text-align: center
  background-size: cover
  background-position: 50% 50%
  background-image: url('../img/bg.png')

.main-header-content
  align()

.main-header-text
  width: 90vw
  animation: fadein 2s
  margin-bottom: 60px
  font-size: 41px
  font-weight: 300
  line-height: 60px

.main-header-btn
  transition: all 0.4s
  color: inherit
  padding: 15px 20px 16px
  vertical-align: top
  cursor: pointer
  border: 1px solid #fff
  border-radius: 3px
  text-decoration: none
  -webkit-tap-highlight-color: transparent
  animation: fadein 2s
  animation-delay: 1s
  text-shadow: none
  color: #333
  background-color: #fff
  font-size: 22px

  &:hover
    box-shadow: 0 0 50px rgba(255,255,255,.3)

.main-info
  center()
  padding: 50px 15px
  padding-bottom: 20px
  background-color: #fff

  h3
    font-weight: 400
    color: #222
    margin-bottom: .5em
    font-size: 1.25em
    line-height: 34px

  p
    font-size: 1em
    margin-bottom: 1.5em
    color: #555

#map
  height: 750px
  max-height: 90vh

@keyframes fadein
  from
    opacity: 0
  to
    opacity: 1